<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Admin</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <jsp-config>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
      <taglib-location>/WEB-INF/lib/jstl/jstl-1.2.jar</taglib-location>
    </taglib>
  </jsp-config>
  <servlet>
    <description></description>
    <display-name>AddGame</display-name>
    <servlet-name>AddGame</servlet-name>
    <servlet-class>com.admin.servlet.AddGame</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddGame</servlet-name>
    <url-pattern>/AddGame</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditGame</display-name>
    <servlet-name>EditGame</servlet-name>
    <servlet-class>com.admin.servlet.EditGame</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditGame</servlet-name>
    <url-pattern>/EditGame</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteGame</display-name>
    <servlet-name>DeleteGame</servlet-name>
    <servlet-class>com.admin.servlet.DeleteGame</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteGame</servlet-name>
    <url-pattern>/DeleteGame</url-pattern>
  </servlet-mapping>
</web-app>